<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>tsagdg</title>
  </head>
  <body>
    <nav>
        <a href="{{ url_for('register') }}">Register</a>
        {% if not logged_in: %}
        <a href="{{ url_for('login') }}">Log In</a>
        {% else: %}
        <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>