* {
    margin: 0;
    padding: 0;

}

body {
    background: #7dace4;
}

#top-bar {
    width: 100%;
    height: 40%;
    z-index: 10;
    padding: 20px;
    border-bottom: 2px solid black;
    top: 0;
    background: #8971d0;
    position: sticky;
    text-align: right;
    font-family: Sekuya;
}

#sidebar {
    border-right: 2px solid black;
    width: 5%;
    height: 100%;
    padding-top: 5%;
    z-index: 0;
    padding-left: 2%;
    top: 0;
    left: 0;
    background: #adf7d1;
    position: fixed;
    list-style: none;
    font-family: Roboto Condensed;
}

#main-content {
    margin-top: 1%;
    display: grid;
    place-items: center;
    font-family: "Arial Black";
}

#profile-info {
    align-items: center;
    float: right;
    background: #95e8d7;
    padding: 15px 10px 20px 20px;
    width: 20%;
    border: solid dimgray;
    border-radius: 10px;
    border-width: 2px;
    margin: 10px 0 10px 0;
    align-items: end;
}

.post-box {
    width: 720px;
    height: 360px;
    padding: 0 0 20px 0;
}

.post {
    background: #95e8d7;
    padding: 15px 0 20px 20px;
    width: 700px;
    border: solid dimgray;
    border-radius: 10px;
    border-width: 2px;
    margin: 10px 0 10px 0;
}

.post-content {
    display: flex;
    text-wrap: wrap;
    padding-right: 10px;
}

.form-box {
    margin-right: 90px;
    background: #95e8d7;
    padding: 15px 10px 20px 20px;
    width: 20%;
    display: grid;
    border: solid dimgray;
    border-radius: 10px;
    border-width: 2px;
    margin: 10px 0 10px 0;
}

#bio-textbox {
    width: 97%;
    height: 200px
}